site_name: ProxyConf
site_url: https://localhost
repo_url: https://github.com/proxyconf/proxyconf
repo_name: proxyconf/proxyconf
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      auto_title: true
      linenums: true
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.superfences
nav:
  - index.md
  - Getting Started: get_started/index.md
  - Configuration Reference:
    - Environment Variables: config/environment.md
    - OpenAPI Extension: config/config.md
    - Listener Configuration: config/Listener.md
    - Downstream Authentication: config/DownstreamAuth.md
    - Upstream Authentication: config/UpstreamAuth.md
#  - Home: index.md
#  - Get Started: get_started/index.md
#  - Configuration: configuration/index.md
theme:
  name: material
  logo: assets/logo.png
  features:
    - navigation.tracking
    - navigation.path
    - navigation.tabs
    - navigation.footer
    - navigation.prune
    - toc.integrate
    - toc.follow
    - search.suggest
    - search.highlight
    - header.autohide
    - content.code.copy
  icon:
    repo: fontawesome/brands/github
  font: 
    text: Fira Sans
    code: Fira Code
  palette:
    scheme: slate
    primary: blue grey
    accent: deep orange
extra_css:
  - stylesheets/extra.css
extra:
  consent:
    title: Cookie consent
    description: >- 
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
    cookies:
      analytics: google
      github: github
copyright: >
  Copyright &copy; 2024 André Graf / ProxyConf Authors –
  <a href="#__consent">Change cookie settings</a>

plugins:
  - privacy
  - search
  - social
