services:
  database:
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: proxyconf_demo
  envoy:
    image: envoyproxy/envoy:v1.31.0
    command: envoy -c /etc/envoy/envoy.demo.yaml
    volumes:
      - ./envoy:/etc/envoy
      - ../test/support/certs:/etc/certs
    ports:
      - "9901:9901" # admin port
      - "8080:8080"
  proxyconf:
    image: ghcr.io/proxyconf/proxyconf:latest
    command: start
    volumes:
      - ../test/support/certs:/etc/certs
    environment:
      RELEASE_COOKIE: "proxyconf-cookie"
      PROXYCONF_HOSTNAME: "localhost"
      PROXYCONF_DATABASE_URL: ecto://postgres:postgres@database:5432/proxyconf_demo
      PROXYCONF_CA_CERTIFICATE: /etc/certs/snakeoil-ca.crt
      PROXYCONF_MGMT_API_CERTIFICATE: /etc/certs/snakeoil-server.crt
      PROXYCONF_MGMT_API_PRIVATE_KEY: /etc/certs/snakeoil-server.key
      PROXYCONF_CONTROL_PLANE_CERTIFICATE: /etc/certs/snakeoil-server.crt
      PROXYCONF_CONTROL_PLANE_PRIVATE_KEY: /etc/certs/snakeoil-server.key
      PROXYCONF_UPSTREAM_CA_BUNDLE: /etc/certs/snakeoil-ca.crt
      PROXYCONF_CERTIFICATE_ISSUER_CERT: /etc/certs/snakeoil-ca.crt
      PROXYCONF_CERTIFICATE_ISSUER_KEY: /etc/certs/snakeoil-ca.key
      # !! don't use those secret values in your prod setup, generate them
      # !! on your own using `openssl rand 32 | base64`
      SECRET_KEY_BASE: "LsTkBZyi1ZAgEOXv4+6LqdDYb7uw7i5WrUAekuxNjDY="
      DB_ENCRYPTION_KEY: "vOzcZNx/Ipawvph9sajVhFhoFg2JOBhgtjtDYXkfIbE="
  petstore:
    image: swaggerapi/petstore3:unstable
    ports:
      - "8081:8080"
